html,body {
    width: 100%;
    height: 100%;
    
}
.form {
    width: 100%;
    height: 100%;
    background: url(../img/school.jpg) no-repeat center center;
    text-align: center;
	background-size: cover;
}
.main-form {
    width: 100%;
    height: 50%;
    padding-top: 10%;
    //padding-left: 40%;
    font-size: 1.5em;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
input[type="text"] {
    width: 25%;
    height: 25%;
    text-align: center;
    font-size: 1.2em;
    
}
input[type="password"] {
    width: 25%;
    height: 25%;
    text-align: center;
    font-size: 1.2em;
}
.sign-up-button-wrapper {
	width: 100%;
	height: 25%;
	padding-top: 4em;
	text-align: center;
}
.sign-up-button {
    border: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    font-size: 2em;
    font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.sign-up-button:hover {
    background-color: #4C8EF1;
    color: white;
    transition: background-color 0.5s , color 0.5s;
}
