html,body {
    width: 100%;
    height: 100%;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}
.container {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.main-form {
    position: relative;
    top: 15%;
    font-size: 1.5em;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.input-form-above{
    height:10%;
}

.input-form {
    background-color:white;
    padding-top:40px;
    padding-right:50px;
    padding-left:50px;
    padding-bottom: 40px;
}

